<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1 class="title">Home page</h1>
<div class="form-container">


<form class="form" action="/show-preferences" method="post">
    <fieldset class="fieldset">
        <label class="label" for="name">Name</label>
        <input class="input" id="name" name="name" type="text">
    </fieldset>

    <fieldset class="fieldset">
        <label class="label" for="keywords">Keywords</label>
        <textarea class="textarea" id="keywords" name="keywords" type="text" rows="4" cols="50"></textarea>
    </fieldset>

    <fieldset class="fieldset">
        <label class="label" for="destination">Destination</label>
        <select class="select" id="destination" name="destination">
            <option value="paris">Paris</option>
            <option value="neworleans">New Orleans</option>
            <option value="copenhagen">Copenhagen</option>
            <option value="tokyo">Tokyo</option>
        </select>
    </fieldset>

    <fieldset class="fieldset">
        <label class="label">Type of travel</label>
        <input class="radio" type="radio" name="typeOfTravel" id="VACATION" value="VACATION">
        <label class="radio-label" for="VACATION">Vacation</label>

        <input class="radio" type="radio" name="typeOfTravel" id="BUSINESS" value="BUSINESS">
        <label class="radio-label" for="BUSINESS">Business</label>

        <input class="radio" type="radio" name="typeOfTravel" id="ADVENTURE" value="ADVENTURE">
        <label class="radio-label" for="ADVENTURE">Adventure</label>
    </fieldset>


    <fieldset class="fieldset">
        <label class="label">Additional features</label>

        <input class="checkbox" type="checkbox" id="wifi" name="features" value="wifi">
        <label class="checkbox-label" for="wifi">Wi-fi</label>

        <input class="checkbox" type="checkbox" id="breakfast" name="features" value="breakfast">
        <label class="checkbox-label" for="breakfast">Breakfast</label>

        <input class="checkbox" type="checkbox" id="transport" name="features" value="transport">
        <label class="checkbox-label" for="transport">Transport</label>
    </fieldset>

    <input class="submit" type="submit" value="Send">
</form>
</div>
</body>
</html>
