<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home page</h1>
<form action="/show-preferences" method="post">
    <fieldset>
        <label for="name">Name</label>
        <input id="name" name="name" type="text">
    </fieldset>

    <fieldset>
        <label for="keywords">Keywords</label>
        <textarea id="keywords" name="keywords" type="text" rows="4" cols="50"></textarea>
    </fieldset>

    <fieldset>
        <label for="destination">Destination</label>
        <select id="destination" name="destination">
            <option value="paris">Paris</option>
            <option value="neworleans">New Orleans</option>
            <option value="copenhagen">Copenhagen</option>
            <option value="tokyo">Tokyo</option>
        </select>
    </fieldset>

    <fieldset>
        <label>Type of travel</label>
        <input type="radio" name="type" id="vacation" value="vacation">
        <label for="vacation">Vacation</label>

        <input type="radio" name="type" id="business" value="business">
        <label for="business">Business</label>

        <input type="radio" name="type" id="adventure" value="adventure">
        <label for="adventure">Adventure</label>
    </fieldset>

    <fieldset>
        <label>Additional features</label>

        <input type="checkbox" id="wifi" name="wifi">
        <label for="wifi">Wi-fi</label>

        <input type="checkbox" id="breakfast" name="breakfast">
        <label for="breakfast">Breakfast</label>

        <input type="checkbox" id="transport" name="transport">
        <label for="transport">Transport</label>
    </fieldset>

    <input type="submit" value="Send">
</form>
</body>
</html>
