<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Preferences</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Show Preferences</h1>
<div class="show-preferences">
    <p class="category">Name: <span th:text="${vacationPreferences.name}"></span></p>
    <p class="category">Keywords: <span th:text="${vacationPreferences.keywords}"></span></p>
    <p class="category">Destination: <span th:text="${vacationPreferences.destination}"></span></p>
    <p class="category">Type Of Travels: <span th:text="${vacationPreferences.typeOfTravel.toString()}"></span></p>
    <p class="category">Additional features: <span th:text="${vacationPreferences.features}"></span></p>
</div>
</body>

</html>
